@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fira+Code:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
$fontColor_main: rgb(240, 240, 240);
$fontColor_secondary: rgb(240, 240, 240);
$link_color: rgb(123, 123, 190);
$background_main: rgb(150, 158, 172);
$background_secondary: rgb(40, 40, 60);

body {
  padding: 0;
  margin: 0;
  background: rgb(3, 18, 24);
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-size: 13px;
}
.page {
  width: 1050px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 120px;

  color: $background_secondary;

  &-item {
    background: $fontColor_main;

    &--title {
      justify-content: center;
      text-align: center;

      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--left {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &--right {
      background: $background_secondary;
      color: $fontColor_secondary;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }
}
.flex {
  display: flex;
  justify-content: space-evenly;
  &--child {
    width: 40%;

    &-1 {
      text-align: right;
    }
  }
}
.center_text {
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.coursera,
.discription {
  padding: 0;
  margin: 0;
  li {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }
}
.organisation,
.year {
  margin-top: -15px;
}
.certificate .year {
  margin-top: 0;
}
.edu {
  margin-bottom: 40px;
}
.project {
  li:not(:last-child) {
    height: 52px;
  }
  margin-bottom: 20px;
}
.certificate {
  li:not(:last-child) {
    height: 65px;
  }
}

.imgContainer {
  img {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;

    border: 3px solid $fontColor_secondary;
  }
}

.page-item--right {
  display: flex;
  //align-items: center;
  text-align: center;
  padding: 20px;

  li {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    background: $fontColor_main;
    color: $background_secondary;
    border-radius: 5px;
  }
}

.page-item--left {
  h3 {
    background: $background_secondary;
    color: $fontColor_main;
    width: 40%;
    border-radius: 0px 5px 5px 0px;
  }
  h3.attention {
    width: 100%;
    text-align: center;
    border-radius: 0px 0px 0px 0px;
    color: rgb(0, 255, 42);
  }
}

.logocage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.logo {
  height: 15px;
  width: 15px;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: $fontColor_secondary;
  margin-right: 8px;
}

.git {
  -webkit-mask-image: url(./SVG/github.svg);
  mask-image: url(./SVG/github.svg);
}
.in {
  -webkit-mask-image: url(./SVG/linkedin.svg);
  mask-image: url(./SVG/linkedin.svg);
}
.mail {
  -webkit-mask-image: url(./SVG/mail.svg);
  mask-image: url(./SVG/mail.svg);
}
.whatsapp {
  -webkit-mask-image: url(./SVG/whatsapp.svg);
  mask-image: url(./SVG/whatsapp.svg);
}
.phone {
  -webkit-mask-image: url(./SVG/phone.svg);
  mask-image: url(./SVG/phone.svg);
}

a {
  text-decoration: none;
  color: $link_color;
}

.page-item--right {
  a {
    color: $link_color;
  }
}

.sardaar {
  font-weight: 100;
}

.gpa {
  margin-top: -5px;
}

.attention_list {
  width: 70%;
  list-style-type: disc; // Adds bullet points to the left
  margin: 0 auto; // Adds space around the list
  padding-left: 40px; // Ensures bullet points are indented properly

  li {
    margin-bottom: 10px; // Adds space between list items
    // text-indent: -25px; // Pulls the bullet point out to align text properly
    padding-left: 25px; // Ensures the text starts from the same position
    line-height: 1.6; // Improves readability with proper spacing between lines
    text-align: left;
    font-weight: bold;
  }
}
