@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fira+Code:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Geist+Mono:wght@100..900&display=swap");

// SCSS Variables
$fontColor_main: rgb(240, 240, 240);
$fontColor_secondary: rgb(240, 240, 240);
$link_color: #7b7bbe;
$background_main: rgb(150, 158, 172);
$background_secondary: rgb(40, 40, 60);
$neon_green: rgb(0, 255, 42);
$body_bg: rgb(3, 18, 24);

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-title {
  background: $background_secondary;
  color: $fontColor_main;
  border-radius: 0px 5px 5px 0px;
  margin-bottom: 20px;
  padding: 3px 20px;
  // height: 10px;
}

@mixin reset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background: $body_bg;
  font-family: "Amaranth", sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
}

.page {
  width: 1050px;
  margin: 0 auto;
  color: $background_secondary;
}

/* New full-width header section */
.full-width-header {
  width: 100%;
  background: $fontColor_main;
  margin-bottom: 0;

  .page-item--title {
    padding: 20px;
    text-align: center;

    &--websiteline {
      text-align: right;
      margin-top: -1.2rem;
      margin-bottom: 0rem;
      font-size: 12px;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 3px;
      padding: 0 5px;
      color: $fontColor_main;
      background-color: $background_secondary;

      &-link {
        color: $neon_green;
        font-weight: lighter;
        text-decoration: none;
        transition: all 0.2s ease;

        &:hover {
          text-decoration: underline;
          color: $fontColor_main;
        }
      }
    }
  }

  .skills-dedication {
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;

    .skills-text {
      margin: 0;
      line-height: 1.6;
    }
  }
}

/* Content container for the two-column layout */
.content-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 0px;
  background: $fontColor_main;
  padding: 0;
}

.page-item {
  background: $fontColor_main;

  &--left {
    padding: 0px;
  }

  &--right {
    background: $background_secondary;
    color: $fontColor_secondary;
    display: flex;
    text-align: center;
    padding: 20px;

    li {
      margin: 3px 0;
    }

    h3 {
      margin: 25px 0;
      background: $fontColor_main;
      color: $background_secondary;
      border-radius: 5px;
      padding: 3px;
    }

    a {
      color: $link_color;
    }
  }
}

.projects-education-container {
  display: flex;
  margin-bottom: 5px;

  .project {
    flex: 1;
    width: 50%;

    .section-title {
      @include section-title;
      width: 70%;
      margin-left: 0;
    }

    .projects-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &-item {
      padding: 15px 15px 8px 20px;
      border-radius: 0 5px 5px 0;
      position: relative;
      width: 70%;
      overflow: hidden;
      margin-left: 10px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: $background_secondary;
      }

      h4 {
        margin: 0 0 10px 0;

        a {
          color: color.scale($link_color, $lightness: -20%);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &-description {
      margin-bottom: 10px;
      line-height: 1.5;
      font-size: 0.95em;
    }

    &-tech {
      margin-bottom: 10px;
      font-size: 0.9em;
      color: $background_secondary;

      strong {
        color: $background_secondary;
      }
    }

    &-links {
      a {
        color: $link_color;
        text-decoration: none;
        margin-right: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Education and Certifications section (50% width)
  .education-certifications {
    flex: 1;
    width: 50%;

    .education {
      margin-bottom: 30px;

      .section-title.edu {
        @include section-title;
        width: 70%;
        text-align: right;
        border-radius: 5px 0 0 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: 0;
      }

      &-content {
        .uni {
          text-align: right;
          padding-right: 20px;
          border-radius: 0px;
          position: relative;
          overflow: hidden;
          margin-bottom: 15px;
          margin-right: 10px;

          // Full-height right border using pseudo-element
          &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 3px;
            background-color: $background_secondary;
          }

          h4 {
            margin-bottom: 5px;
          }

          .organisation {
            margin-top: 0px;
            font-style: italic;
            color: $background_secondary;
          }

          .year {
            margin-top: 0px;
            font-size: 0.9em;
          }

          .result {
            margin-top: -8px;
            font-weight: bold;
            color: $background_secondary;
          }
        }
      }

      &-about {
        text-align: right;
        width: 70%;
        margin-left: auto;
        margin-right: 10px;

        padding-right: 20px;
        border-radius: 5px 0px 0px 5px;
        position: relative;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 3px;
          background-color: $background_secondary;
        }
      }
    }

    .certificate {
      .section-title {
        @include section-title;
        width: 70%;
        text-align: right;
        border-radius: 5px 0 0 5px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: 0;
      }

      // First certification (Web Development Bootcamp) - full width
      .uni {
        margin-bottom: 20px;
        text-align: right;

        h4 {
          margin-bottom: 10px;
          color: $background_secondary;
        }

        ul {
          @include reset-list;

          li {
            padding-right: 20px; // Extra right padding for the border
            border-radius: 5px 0 0 5px; // Only round left corners
            position: relative;
            overflow: hidden;
            margin-bottom: 10px;
            text-align: right;

            // Full-height right border using pseudo-element
            &::before {
              content: "";
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              width: 5px;
              background-color: $background_secondary;
            }

            a {
              color: $link_color;
              text-decoration: none;
              font-size: 0.9em;
              line-height: 1.4;

              &:hover {
                text-decoration: underline;
              }
            }

            .year {
              margin-top: 5px;
              font-size: 0.85em;
              color: color.scale($background_secondary, $lightness: 20%);
            }
          }
        }
      }

      // Row-wise layout for remaining certifications
      .cert-flex {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &--child {
          width: 70%;
          margin-left: auto;
          margin-right: 10px;

          .udemy,
          .coursera {
            @include reset-list;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
              padding-right: 20px; // Extra right padding for the border
              border-radius: 5px 0 0 5px; // Only round left corners
              position: relative;
              overflow: hidden;
              text-align: right;

              // Full-height right border using pseudo-element
              &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 3px;
                background-color: $background_secondary;
              }

              a {
                color: $link_color;
                text-decoration: none;
                font-size: 0.9em;
                line-height: 1.4;

                &:hover {
                  text-decoration: underline;
                }
              }

              .year {
                margin-top: 5px;
                font-size: 0.85em;
                color: color.scale($background_secondary, $lightness: 20%);
              }
            }
          }
        }
      }
    }
  }
}

// General styles
.flex {
  display: flex;
  justify-content: space-evenly;

  &--child {
    width: 40%;

    &-1 {
      text-align: right;
    }
  }
}

.center_text {
  text-align: center;
}

ul {
  @include reset-list;
}

.coursera,
.udemy {
  padding: 0;
  margin: 0;

  li {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }
}

.organisation,
.year {
  margin-top: -15px;
}

.certificate {
  .year {
    margin-top: 0;
  }
}

.imgContainer {
  img {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid $fontColor_secondary;
  }
}

.page-item--left {
  h3 {
    @include section-title;
    width: 40%;

    &.attention {
      width: 100%;
      text-align: center;
      border-radius: 0;
      color: $fontColor_secondary; //$neon_green;
      background: $background_secondary;
      margin-top: 0;
    }
  }
}

.logocage {
  @include flex-center;
  margin-bottom: 3px;

  &_left {
    display: flex;
    justify-content: left;
    margin-bottom: 3px;
  }

  &_right {
    display: flex;
    justify-content: right;
    margin-bottom: 3px;
  }
}

.logo_left {
  height: 15px;
  width: 15px;
  mask-size: cover;
  -webkit-mask-size: cover;
  background: $link_color;
  margin-right: 4px;
  margin-left: 0px;
  list-style-type: none;

  &.git_left {
    mask-image: url(./SVG/github.svg);
    -webkit-mask-image: url(./SVG/github.svg);
  }

  &.youtube {
    mask-image: url(./SVG/youtube2.svg);
    -webkit-mask-image: url(./SVG/youtube2.svg);
  }

  &.web_left {
    mask-image: url(./SVG/web.svg);
    -webkit-mask-image: url(./SVG/web.svg);
  }

  &.locked_left {
    mask-image: url(./SVG/locked.svg);
    -webkit-mask-image: url(./SVG/locked.svg);
  }
}

.logo_right {
  height: 15px;
  width: 15px;
  mask-size: cover;
  -webkit-mask-size: cover;
  background: $link_color;
  margin-right: 4px;
  margin-left: 0px;
  list-style-type: none;

  &.locked_left {
    mask-image: url(./SVG/locked.svg);
    -webkit-mask-image: url(./SVG/locked.svg);
  }
  &.git_left {
    mask-image: url(./SVG/github.svg);
    -webkit-mask-image: url(./SVG/github.svg);
  }
}

.logo {
  height: 15px;
  width: 15px;
  mask-size: cover;
  -webkit-mask-size: cover;
  background: $fontColor_secondary;
  margin-right: 8px;

  &.git {
    mask-image: url(./SVG/github.svg);
    -webkit-mask-image: url(./SVG/github.svg);
  }

  &.in {
    mask-image: url(./SVG/linkedin.svg);
    -webkit-mask-image: url(./SVG/linkedin.svg);
  }

  &.mail {
    mask-image: url(./SVG/mail.svg);
    -webkit-mask-image: url(./SVG/mail.svg);
  }

  &.whatsapp {
    mask-image: url(./SVG/whatsapp.svg);
    -webkit-mask-image: url(./SVG/whatsapp.svg);
  }

  &.phone {
    mask-image: url(./SVG/phone.svg);
    -webkit-mask-image: url(./SVG/phone.svg);
  }
  &.web {
    mask-image: url(./SVG/web.svg);
    -webkit-mask-image: url(./SVG/web.svg);
  }
}

a {
  text-decoration: none;
  color: $link_color;
}

.sardaar {
  font-weight: 100;
}

.attention_list {
  width: 70%;
  list-style-type: disc;
  margin: 0 auto;
  padding-left: 40px;

  li {
    margin-bottom: 10px;
    padding-left: 25px;
    line-height: 1.6;
    text-align: left;
    font-weight: bold;
  }
}

.udc_title {
  margin-right: 100px;
}

.page-item--right li {
  margin-right: 8px;
}

// Experience Section Styles
.experience-section {
  margin-bottom: 0px;

  .section-title {
    @include section-title;
    width: 70%;
  }

  .experience-container {
    display: flex;
    gap: 20px;
    margin-left: 10px;
  }

  .experience-content {
    flex: 1;
  }

  .experience-dates {
    width: 140px;
    flex-shrink: 0;
    text-align: right;
    padding-top: 14px;
    margin-right: 25px;
    font-size: 13px;
    position: relative; // for vertical line

    &::before {
      content: "";
      position: absolute;
      right: -15px;
      top: 0px;
      bottom: 0;
      width: 3px;
      height: 58.5px;
      background-color: $background_secondary;
    }

    .total-duration {
      margin: 0;
      color: $background_secondary;
      font-weight: bold;
    }

    .duration-detail {
      margin: 2px 0 0 0;
      font-size: 12px;
      color: $background_secondary;
    }
  }

  .organization-header {
    margin-bottom: 16px;
    padding: 15px 15px 8px 20px;
    border-radius: 0 5px 5px 0;
    position: relative;
    width: 70%;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 3px;
      background-color: $background_secondary;
    }

    .organization-name {
      font-weight: bold;
      font-size: 14px;
      margin: 0 0 4px 0;
      color: $background_secondary;
    }

    .organization-type {
      font-size: 12px;
      color: $background_secondary;
      margin: 0;
    }
  }

  .timeline-entries {
    width: 100%;
  }

  .timeline-entry {
    display: flex;
    margin-bottom: 0;
    position: relative;

    &:last-child {
      .connecting-line {
        display: none;
      }
    }
  }

  .timeline-bullet {
    width: 12px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8px;
    margin-left: 20px;

    .bullet-point {
      width: 6px;
      height: 6px;
      background-color: gray;
      border-radius: 50%;
      margin-top: 6px;
      flex-shrink: 0;
    }

    .connecting-line {
      width: 1px;
      background-color: gray;
      flex-grow: 1;
      margin-top: 5px;
      min-height: 20px;
    }
  }

  .timeline-content {
    flex: 1;
    padding-bottom: 8px;

    .position-title {
      font-weight: bold;
      color: $background_secondary;
      font-size: 14px;
      margin: 0 0 2px 0;
    }

    .position-dates {
      font-size: 12px;
      color: color.scale($background_secondary, $lightness: 20%);
      margin: 0 0 2px 0;
    }

    .position-duration {
      font-size: 12px;
      color: color.scale($background_secondary, $lightness: 20%);
      margin: 0 0 8px 0;
    }

    .position-description {
      font-size: 12px;
      line-height: 1.5;
      margin: 0 20px 0 20px; // closer to dates
      text-align: justify;
      color: $background_secondary;
      padding-left: 18px; // indentation for bullets
      list-style-type: disc; // bullet style

      li {
        margin-bottom: 6px;
      }
    }
  }
}

.tempfixP {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 0.95em;
  width: 262.5px;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

.tempTech {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: $background_secondary;
  width: 262.5px;
  text-align: right;
  margin-left: auto;
  margin-right: 0;

  strong {
    color: $background_secondary;
  }
}
